@page "/"

<h2>@mensagem</h2> estou mostrando a mensagem
<h3>@mostraMensagem()</h3> @*estou chamando o metodo direto do html*@
<button @onclick="AtualizaMensagem">Atualizar a mensagem da tela</button> @*Atualizar a mensagem da tela</button> estou chamando o metodo de dentro do envendo click do botao html*@
@code{
    private string mensagem = "mensgem original"; /*variavel com a mensagem original*/
    private string mostraMensagem() /*metodo mostra a mensagem*/
    {
        return "retornei alguma mensagem";  /*linha retorna uma mensagem pelo metodo*/
    }

    private void AtualizaMensagem()/* metodo atualiza a mensagem que na variavel*/
    {
        mensagem = "voce clicou no botao e eu mudei a mensagem";  /*nesta linha atualiza a variavel com a nova mensagem*/
    }

}