@page "/"

<h2>@mensagem</h2>
<h3>@mostraMensagem()</h3>
@code{
    private string mensagem = "mensgem original";
    private string mostraMensagem()
    {
        return "retornei alguma mensagem";
    }

}